{% extends 'base.html' %}

<!-- Contenido -->
{% block 'content' %}

<div class="row">
    <div class="col">
        <div class="col-12 col-md-6 offset-0 offset-md-3 mt-4">
            <h3 class="text-center">Nuestros Productos</h3>
            <div>
                <hr style="border-color: gray; border-width: 3px; width: 100%; height: 5px;">
            </div>
            <p>OnlyFlans renace el 2024 buscando superar la calidad de sus recetas</p>
            <div class="mb-3 px-3">
            <a href="{% url 'about' %}" type="submit" class="btn btn-info" style=" background: rgb(121, 196, 186);">Conoce más</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-4 mb-4">
        {%for flan in public_flans %}
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="{{flan.image_url}}" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ flan.name }}</h5>
                    <p class="card_text">{{ flan.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock%}